@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Noto+Serif+Display:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.material-icons{
    @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
      src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
    }
}
$font-sans: "Noto Sans TC", sans-serif;
$font-serif: "Noto serif TC", sans-serif;
$font-en: "Playfair Display", serif;
$primary-color: #191816;
$secondery-color: #c6ddff;
$thirdery-color:#325FA6;
$linear-color: linear-gradient(235deg, #8485B5, #325FA6);
$linear-color-light: linear-gradient(235deg, #c6ddff, #d5c6ff);
.gradient-text {
    background: linear-gradient(45deg, #c6ddff, #d5c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.gradient-text-dark {
    background: linear-gradient(45deg, #5c8ad4, #9f86e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.white{
    color: #fff;
    text-align: center;
}
//setting
body{ font-family: "Noto Sans TC", sans-serif;}
*{ box-sizing: border-box; font-family:  "Noto Sans TC", sans-serif; color: $primary-color; letter-spacing: 1px;}
a, a:hover, a:active, a:visited{ text-decoration: none; display: block; transition: all .3s; outline: 0;}
img{ width: 100%; display: block;}


.pc{ display: block;}
.mob{ display: none;}
@media (max-width:1080px){
    .pc{ display: none;}
    .mob{ display: block;}
}

h2{
    font-size: 42px;
    line-height: 160%;
    font-weight: 600;
    @media (max-width: 600px){
        font-size: 32px;
    }
}
h3{
    font-size: 36px;
    line-height: 160%;
    font-weight: 600;
    @media (max-width: 600px){
        font-size: 28px;
    }
}
h4{
    font-size: 26px;
    line-height: 160%;
    font-weight: 600;
    @media (max-width: 600px){
        font-size: 20px;
    }
}
h5{
    font-size: 24px;
    line-height: 160%;
    font-weight: 600;
    @media (max-width: 600px){
        font-size: 16px;
    }
}
h6{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 20px;
    @media (max-width: 600px){
        font-size: 16px;
    }
}
p{
    font-size: 16px;
    line-height: 160%;
    font-family: $font-sans;
    font-weight: 400;
    text-align: justify;
    margin-top: 20px;
    @media (max-width: 600px){
        font-size: 14px;
    }
}

input, button, select, textarea{
  appearance:none;   
  -moz-appearance:none;   
  -webkit-appearance:none; 
  -ms-appearance:none; 
  border: 0;
  padding: 10px 20px;
  position: relative;
}

.popup{
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
//   opacity: 0;
//   visibility: hidden;
  display: none;  
  transition: all .5s;
  .popup_content{
      text-align: center;
      background-color: #fff;
      color: #000000;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      font-weight: 500;
      &.popup_img{
        width: 1200px;
        height: 820px;
        // padding: 20px 40px;
        background: none;
        @media (max-width: 1280px){
            width: calc(100% - 80px);
            height: auto;
            max-height: 50vh;
            margin: auto;
        }
        @media (max-width: 800px){
            width: calc(100% - 40px);
        }
        h5{
            margin-bottom: 10px;
            color: #fff;
        }
        p{
            font-size: 16px;
            line-height: 120%;
            text-align: center;
            margin-top: 10px;
            color: #fff;
        }
      }
      &.popup_message{
          width: 320px;
          height: 60px;
          line-height: 60px;
          font-family: $font-sans;
          letter-spacing: 2px;
          font-weight: 400;

      }
      .close{
          width: 40px;
          height: 40px;
          position: absolute;
          z-index: 10;
          right: 6px;
          top: 6px;
          text-align: center;
          i{
              font-size: 32px;
              line-height: 40px;
          }
          &:hover{
              cursor: pointer;
          }
      }
  }
  &.is_acted{
    //   opacity: 1;
    //   visibility: visible;
    display: block;
  }
}
.popup_close{
    position: absolute;
    z-index: 200;
    right: 20px;
    top: 20px;
    span{
        color: #fff;
        font-size: 32px;
    }
    &:hover{
        cursor: pointer;
    }
}

